@tailwind base;
@tailwind components;
@tailwind utilities;

/* small app-level polish */
html,body,#__next { height: 100%; }
body { -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale; }
.container { max-width: 1100px; margin: 0 auto; padding: 1rem; }
